body {
    font-family: 'Merriweather';
    font-weight: 300;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    background-color: rgb(165, 149, 103);
}

.logo {
    display: grid; 
    place-items: center; 
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 5%;
    width: 25%;
    left: 5%;
    height: 10%;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
  }
  
  .logo p {
    color: white;
    font-size: 25px;
    font-weight: 1000;
  }
  
  .menu {
    display: grid; 
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 15%;
    width: 25%;
    height: 65%; 
    left: 5%;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    padding: 1rem 0; 
  }
  
  
  .menu p {
    display: block;
    color: white;
    place-items: center;
    font-style: normal;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 30px;
  }
  
  .menu a {
    display: block;
    color: white;
    font-style: normal;
    text-decoration: none;
    position: relative;
    place-items: center;
  }
  
  .menu a:hover {
    background-color: rgba(255, 255, 255, 0.6); 
    background-size: cover;
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    transition: 0.6s all;
  }
  
  .main {
    display: grid; 
    place-items: center; 
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 15%;           
    height: 65%;         
    width: 55%;
    left: 35%;          
    border-radius: 15px;
    border-color: white;
    border-style: solid;
  }
  
  .main p {
    color: white;
  }
  
  .main form {
    color: white;
  }
  
  .searchInput {
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  h2 {
    color: antiquewhite;
  }